.text-center {

    text-align: center;
}

.row {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 18px 6px;
    gap: 12px;
}

.button {


    background: linear-gradient(rgb(195, 195, 223), rgb(0, 0, 0), rgb(26, 26, 20));
    color: white;
    font-size: 30px;
    width: 40px;
    box-shadow: inset;
}

.input {
    background: #11111b;
    color: #ffffff;

    border: 1px solid #3b2f6f;

    box-shadow: inset 0 0 15px rgba(108, 60, 255, 0.15);

    font-size: 26px;
    text-align: right;

    border-radius: 18px;
    padding: 15px;
}