body {

    background-color: rgb(0, 0, 0);
}

.container {
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 33%;
    margin-top: 5px;

}

.inputs input {
    width: 270px;
    border: 2px solid aqua;
    padding: 8px;
    outline: none;

}

button {

    width: 60px;
    height: 40px;
    background-color: black;
    border: 2px;
    font-size: 19px;
    color: white;
    cursor: pointer;
}

.container h1 {

    color: rgb(0, 0, 0);
}

.text ul {


    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 19px;
    text-align: left;
}

.text ul i {

    position: absolute;
    right: 10px;
    cursor: pointer;
}